<!DOCTYPE html>
<html>
	<head>
		<title>ReconAI</title>
		<meta charset="UTF-8" />
		<meta name="Viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/css/home.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
			rel="stylesheet"
		/>
		<link rel="icon" href="/static/assets/Logo.png" type="image/x-icon" />
	</head>
	<div class="main">
		<body>
			<div class="container_principal">
				<img
					src="static/assets/Logo.png"
					alt="ReconAI Logo"
					class="container__image"
				/>

				<h1 class="container__title">
					The new artificial intelligence for clothing recommendations!
				</h1>
			</div>
			<section class="container secondary">
				<img
					src="static/assets/pcreconai.png"
					alt="Demonstration of the consultation page"
					class="secondary__image"
				/>
				<div class="container__description">
					<h2 class="description__title">Speed up your shopping</h2>
					<p class="description__text">
						Our artificial intelligence recommends the best pieces based on
						your taste!
					</p>
					<a href="filter-products" class="btn">Try for free!</a>
				</div>
			</section>
		</body>

		<section class="devices">
			<h2 class="devices__title">
				Devices
			</h2>
			<ul class="devices__list">
				<li>
					<img
						src="static/assets/computer.png"
						alt="Image of a computer"
					/>
					<h3 class="list__item">Web</h3>
				</li>
			</ul>
			<footer class="footer">
				<img
					src="static/assets/header.png"
					alt="ReconAi"
					class="footer__logo"
				/><p class="footer__text">
					Created by: Breno Crepaldi.
				</p>
				<div class="space"></div>
			</footer>
		</section>
	</div>
</html>
